<nav-bar></nav-bar>
<!--Use your money wisely-->
<div class="container-fluid">
    <div class="main">
    <div class="row">
        <h1 class="page-header">Dashboard</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="assets/images/dashboard/finance.png" class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
                <h4><a href="/bm">Budget Manager</a></h4>
                <span class="text-muted">Help you to save your money</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="assets/images/dashboard/social.png" class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
                <h4><a href="/dc">Debt Calculator</a></h4>
                <span class="text-muted">Helps you to calculate debts</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
        </div>
    </div>
    </div>
</div>