#header {
    position: fixed;
    top: 0;
    background-color: #2E3C54;
}

#logo {
    /*font-family: Lobster;*/
    font-family: Arial;
    /*color: #02ceff;*/
    /*color: #FC636B;*/
    /*color: #EA4E9D;*/
    /*color: #02ceff;*/
    color: #fff;
    font-size: 24px;
    float: left;
}

.bm-logo {
    /*color: #ff56aa;*/
    color: #02ceff;
}

.bm-hide-sidebar-container {
    float: right;
    padding-top: 6px;


}

.bm-hide-sidebar {
    color: #A2B4BC;
    cursor: pointer;
}


.bm-hide-sidebar:hover {
    color: #fff;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 41px;
    z-index: 1000;
    display: block;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2E3C54;
}