.panel {
    background-color: #fff;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.panel-header {
    padding: 15px 30px 0 30px;
}

.panel-body {
    padding: 0 0 0 0;
}

.panel-bottom {

}

.main-panel {
    width: 886px;
    margin: 60px auto 12px auto;
}

.scroll-panel-body {
    height: 800px;
    overflow-y: auto;
}