<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> &lt;!&ndash; load bootstrap css &ndash;&gt;-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> &lt;!&ndash; load fontawesome &ndash;&gt;-->
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="assets/fonts/font-awesome-4.6.3/css/font-awesome.min.css">

    <link href="assets/styles/dashboard.css" rel="stylesheet" type="text/css">
    <link href="assets/styles/dc.styles.css" rel="stylesheet" type="text/css">
    <link href="assets/styles/bm.styles.css" rel="stylesheet" type="text/css">
    <!--../../client/assets/-->
</head>
<body>
<div class="container-fluid">
    <div class="main">
        <div class="row">
            <h1 class="page-header">Dashboard</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="assets/images/dashboard/finance.png" class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
                    <h4><a href="/bm">Budget Manager</a></h4>
                    <span class="text-muted">Help you to save your money</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="assets/images/dashboard/social.png" class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
                    <h4><a href="/dc">Debt Calculator</a></h4>
                    <span class="text-muted">Helps you to calculate debts</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>