.signup-page-container {
    width: 100%;
    min-height: 500px;;
    //background: url("./images/Mountains-clouds.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signupForm {
    height: auto;
    width: 400px;
    padding: 24px;
    background: #F8F8F8;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
}

.formHeader {
    width: 100%;
    text-align: center;
}