

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.container {
    position: relative;
    /*overflow: hidden;*/
    height: 100%;
}

.element {
    float: left;
    height: 100%;
}

.stretch-element {
    position: absolute;
    /*overflow: hidden;*/
    width: 80%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    width: 1%;
}

.bm-main {
    background-image: url("../images/valley.jpg");
}

/*BEGIN ItemListStyles*/

    .item-list {
        background-color: #fff;
        border-radius: 3px 3px 0 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    }

    .item-list-header {
        padding: 15px 30px 0 30px;
    }

    .item-list-body {
        padding: 0 30px 0 30px;
    }

    .item-list-bottom {

    }

/*END ItemListStyles*/

/*BEGIN CustomButtons*/

    .bm-btn {
        /*display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: bold;*/
        font-weight: bold;
        /*transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;*/
    }

    .bm-btn-default {
        color: #333;
        background-color: #fff;
        border-color: #adadad;
    }

    .bm-btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    .bm-btn-green {
        color: #02ceff;
        border-color: #02ceff;
        margin: 1px;
    }

    .bm-btn-green:hover {
        color: #02ceff;
        /*border-color: #1dad57;*/
        border-width: 2px;
        margin: 0;
    }

    .bm-btn-green:focus:active {
        background-color: #eff8ff;
        color: #02ceff;
        /*box-shadow: 0 1px 3px rgba(0,0,0,0.3);*/
    }

    .bm-btn-green:active {
        background-color: #eff8ff;
        /*box-shadow: 0 1px 3px rgba(0,0,0,0.3);*/
    }
/*END CustomButtons*/