#navigation_dock {
    display: block;
    width: 100%;
    background-color: #2E3C54;
    padding: 0 2px;
    -webkit-transition: margin-left .25s ease-out;
    -moz-transition: margin-left .25s ease-out;
    transition: margin-left .25s ease-out;
    float: left;
    height: 100%;
    /*max-height: 100;*/
}

#navigation_dock.left-pane-expanded {
    margin-left: 0;
}

#navigation_dock.left-pane-collapsed {
    margin-left: -244px;
}

#header {
    padding: 3px 15px 0 15px;
    /*padding-top: 3px;*/
    height: 41px;
}

